pkgbase = minimal-latex-studio
	pkgdesc = Native minimal LaTeX editor, compiler, PDF previewer, and embedded terminal
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/pportilla/minimal-latex-studio
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = appstream
	checkdepends = desktop-file-utils
	makedepends = cmake
	makedepends = pkgconf
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = poppler-qt6
	depends = qtermwidget
	depends = qt6-base
	optdepends = texlive-bin: TeX engines and SyncTeX source/PDF navigation
	optdepends = texlive-binextra: latexmk and TeX Live helper tools for document builds
	optdepends = biber: bibliography processing for biblatex projects
	optdepends = texlive-latexextra: commonly used LaTeX packages
	optdepends = texlive-fontsextra: additional fonts for LaTeX documents
	source = minimal-latex-studio-0.1.0.tar.gz::https://github.com/pportilla/minimal-latex-studio/releases/download/v0.1.0/minimal-latex-studio-0.1.0.tar.gz
	sha256sums = cfd92016c2029def08edfbd214e677855abfedb53a868361a0d7180cf4660903

pkgname = minimal-latex-studio
